<% layout('layouts/admin/boilerplate') %>
    <link rel="stylesheet" type="text/css" href="/plugins/editors/quill/quill.snow.css">

    <div class="dashboard-content-one">
        <!-- Breadcubs Area Start Here -->
        <div class="breadcrumbs-area">
            <h3>Class</h3>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>Subject Details</li>
            </ul>
        </div>
        <!-- Breadcubs Area End Here -->
        <!-- Student Details Area Start Here -->
        <div class="card height-auto">
            <div class="card-body p-1 p-sm-4">
                <div class="single-info-details">
                    <div class="item-content">
                        <div class="header-inline item-header ">
                            <div class="card ui-tab-card w-100">
                                <div class="card-body p-0" style="box-shadow: unset;">
                                    <div class="heading-layout1 mg-b-25">
                                        <div class="item-title">
                                            <h3>
                                                <u>
                                                    <%= cls.courses[0].name.charAt(0).toUpperCase()+cls.courses[0].name.slice(1)
                                                        %>
                                                </u> Class
                                            </h3>
                                        </div>
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                                aria-expanded="false">...</a>

                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#"><i
                                                        class="fas fa-times text-orange-red"></i>Close</a>
                                                <a class="dropdown-item" href="#"><i
                                                        class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                                <a class="dropdown-item" href="#"><i
                                                        class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="basic-tab">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab"
                                                    aria-selected="true">About</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#tab2" role="tab"
                                                    aria-selected="false">Material and Work</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#tab3" role="tab"
                                                    aria-selected="false">Students</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                                                <div class="item-title">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <td class="25">Class Level:</td>
                                                                <td class="w-75 mr-sm-5 font-medium text-dark-medium">
                                                                    <%= cls.classLevel %>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="25">Class Section:</td>
                                                                <td class="w-75 mr-sm-5 font-medium text-dark-medium">
                                                                    <%= cls.section %>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="25">Class ID:</td>
                                                                <td class="w-75 mr-sm-5 font-medium text-dark-medium">
                                                                    <%= cls.classID %>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="25">Created At:</td>
                                                                <td class="w-75 mr-sm-5 font-medium text-dark-medium">
                                                                    <%= `${cls.created.toLocaleString('default', {
                                                                        month: 'short' })} ${cls.created.getDate()}
                                                                        ${cls.created.getFullYear()}`; %>
                                                                </td>
                                                            </tr>
                                                            <tr class="w-100">
                                                                <td class="d-none d-lg-block">Subject Details:</td>
                                                                <td class="font-medium text-dark-medium w-100">
                                                                    <% for(let course of cls.courses){ %>
                                                                        <div class="bg-ash p-2 mb-1">
                                                                            <div
                                                                                class="d-flex justify-content-between pr-3">
                                                                                <h4>
                                                                                    <%= course.name.charAt(0).toUpperCase()+course.name.slice(1)
                                                                                        %>
                                                                                </h4>
                                                                            </div>
                                                                            <div class="d-flex">
                                                                                <% if(course.teacher){ %>
                                                                                    <h6>Teacher: <small> <a
                                                                                                href="/<%= domainName %>/admin/teacher/<%= course.teacher._id %>/view">
                                                                                                <%= course.teacher.userInfo.fullName.charAt(0).toUpperCase()+course.teacher.userInfo.fullName.slice(1)
                                                                                                    %>
                                                                                            </a>
                                                                                        </small>
                                                                                    </h6>
                                                                                    <% } %>
                                                                            </div>
                                                                            <div
                                                                                class="dashboard-summery-two col-12 d-flex flex-column m-0 p-2">
                                                                                <div class="col-12">
                                                                                    <h4 class="text-left">Time Table
                                                                                    </h4>
                                                                                </div>
                                                                                <div
                                                                                    class="col-12 d-flex justify-content-between p-0">
                                                                                    <div
                                                                                        class="col-6 d-flex flex-column p-0">
                                                                                        <div
                                                                                            class="p-1 border text-white bg-dark">
                                                                                            Day
                                                                                        </div>
                                                                                        <% for(let slot of
                                                                                            course.schedule){ %>
                                                                                            <div class="p-1 border">
                                                                                                <%=
                                                                                                    slot.day.charAt(0).toUpperCase()+slot.day.slice(1,3)%>
                                                                                            </div>
                                                                                            <% } %>
                                                                                    </div>
                                                                                    <div
                                                                                        class="col-6 d-flex flex-column  p-0">
                                                                                        <div
                                                                                            class="p-1 border text-white bg-dark">
                                                                                            Time
                                                                                        </div>
                                                                                        <% for(let slot of
                                                                                            course.schedule){ %>
                                                                                            <div class="p-1 border">
                                                                                                <%= slot.slot%>
                                                                                            </div>
                                                                                            <% } %>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <% } %>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td></td>
                                                            </tr>


                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab2" role="tabpanel">
                                                <div class="">
                                                    <div class="dropdown">
                                                        <a class="col-12 col-sm-6 col-lg-4 btn-fill-md radius-30 text-light bg-light-sea-green d-flex justify-content-between"
                                                            href="#" role="button" data-toggle="dropdown"
                                                            aria-expanded="false"><svg viewBox="0 0 24 24" fill="none"
                                                                width="30" xmlns="http://www.w3.org/2000/svg">
                                                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                                    stroke-linejoin="round"></g>
                                                                <g id="SVGRepo_iconCarrier">
                                                                    <path d="M6 12H18" stroke="#ffffff"
                                                                        stroke-width="1.5" stroke-linecap="round"
                                                                        stroke-linejoin="round">
                                                                    </path>
                                                                    <path d="M12 18V6" stroke="#ffffff"
                                                                        stroke-width="1.5" stroke-linecap="round"
                                                                        stroke-linejoin="round">
                                                                    </path>
                                                                </g>
                                                            </svg> Create</a>

                                                        <div
                                                            class="dropdown-menu dropdown-menu-right col-12 col-sm-6 col-lg-4">
                                                            <button type="button" id="addMaterialBtn"
                                                                class="dropdown-item" data-toggle="modal"
                                                                data-target="#add-material" href="#"><svg
                                                                    viewBox="0 0 24 24" width="20" fill="none"
                                                                    xmlns="http://www.w3.org/2000/svg">
                                                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                                        stroke-linejoin="round"></g>
                                                                    <g id="SVGRepo_iconCarrier">
                                                                        <path
                                                                            d="M22 16.7402V4.67019C22 3.47019 21.02 2.58019 19.83 2.68019H19.77C17.67 2.86019 14.48 3.93019 12.7 5.05019L12.53 5.16019C12.24 5.34019 11.76 5.34019 11.47 5.16019L11.22 5.01019C9.44 3.90019 6.26 2.84019 4.16 2.67019C2.97 2.57019 2 3.47019 2 4.66019V16.7402C2 17.7002 2.78 18.6002 3.74 18.7202L4.03 18.7602C6.2 19.0502 9.55 20.1502 11.47 21.2002L11.51 21.2202C11.78 21.3702 12.21 21.3702 12.47 21.2202C14.39 20.1602 17.75 19.0502 19.93 18.7602L20.26 18.7202C21.22 18.6002 22 17.7002 22 16.7402Z"
                                                                            stroke="#292D32" stroke-width="1.5"
                                                                            stroke-linecap="round"
                                                                            stroke-linejoin="round">
                                                                        </path>
                                                                        <path opacity="0.4" d="M12 5.49023V20.4902"
                                                                            stroke="#292D32" stroke-width="1.5"
                                                                            stroke-linecap="round"
                                                                            stroke-linejoin="round">
                                                                        </path>
                                                                        <path opacity="0.4" d="M7.75 8.49023H5.5"
                                                                            stroke="#292D32" stroke-width="1.5"
                                                                            stroke-linecap="round"
                                                                            stroke-linejoin="round">
                                                                        </path>
                                                                        <path opacity="0.4" d="M8.5 11.4902H5.5"
                                                                            stroke="#292D32" stroke-width="1.5"
                                                                            stroke-linecap="round"
                                                                            stroke-linejoin="round">
                                                                        </path>
                                                                    </g>
                                                                </svg> Material</button>
                                                            <a type="button" data-toggle="modal"
                                                                data-target="#add-assignment" class="dropdown-item"
                                                                href="#">
                                                                <svg viewBox="0 0 48 48" width="20"
                                                                    xmlns="http://www.w3.org/2000/svg" fill="#000000">
                                                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                                        stroke-linejoin="round"></g>
                                                                    <g id="SVGRepo_iconCarrier">
                                                                        <title>assignment-check-solid</title>
                                                                        <g id="Layer_2" data-name="Layer 2">
                                                                            <g id="invisible_box"
                                                                                data-name="invisible box">
                                                                                <path
                                                                                    d="M0,0V48H48V0ZM32.4,21.4l-10,10a1.9,1.9,0,0,1-2.8,0l-3.9-3.9a2.2,2.2,0,0,1-.4-2.7,2,2,0,0,1,3.1-.2L21,27.2l8.6-8.6a2,2,0,0,1,2.8,2.8Z"
                                                                                    fill="none"></path>
                                                                                <path
                                                                                    d="M0,0V48H48V0ZM32.4,21.4l-10,10a1.9,1.9,0,0,1-2.8,0l-3.9-3.9a2.2,2.2,0,0,1-.4-2.7,2,2,0,0,1,3.1-.2L21,27.2l8.6-8.6a2,2,0,0,1,2.8,2.8Z"
                                                                                    fill="none"></path>
                                                                            </g>
                                                                            <g id="icons_Q2" data-name="icons Q2">
                                                                                <path
                                                                                    d="M40,6H36V4a2,2,0,0,0-2-2H14a2,2,0,0,0-2,2V6H8A2,2,0,0,0,6,8V44a2,2,0,0,0,2,2H40a2,2,0,0,0,2-2V8A2,2,0,0,0,40,6ZM32.4,21.4l-10,10a1.9,1.9,0,0,1-2.8,0l-3.9-3.9a2.2,2.2,0,0,1-.4-2.7,2,2,0,0,1,3.1-.2L21,27.2l8.6-8.6a2,2,0,0,1,2.8,2.8Z">
                                                                                </path>
                                                                            </g>
                                                                        </g>
                                                                    </g>
                                                                </svg> Assignment
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab3" role="tabpanel">
                                                <div class="card height-auto">
                                                    <div class="card-body" style="box-shadow: unset;">
                                                        <% if (cls.students.length){ %>
                                                            <div class="table-responsive">

                                                                <div id="DataTables_Table_0_wrapper"
                                                                    class="dataTables_wrapper no-footer">
                                                                    <table
                                                                        class="table display data-table text-nowrap dataTable no-footer w-100"
                                                                        id="DataTables_Table_0" role="grid"
                                                                        style="width: 1141px;">
                                                                        <h3 class="border p-3 m-0">
                                                                            All Students in this Class

                                                                        </h3>
                                                                        <thead>
                                                                            <tr role="row">
                                                                                <th class="sorting_asc" rowspan="1"
                                                                                    colspan="1" aria-label="
                                                            ID
                                                        " style="width: 140px;">
                                                                                    ID
                                                                                </th>
                                                                                <th class="sorting" tabindex="0"
                                                                                    aria-controls="DataTables_Table_0"
                                                                                    rowspan="1" colspan="1"
                                                                                    aria-label="Class Level: activate to sort column ascending"
                                                                                    style="width: 205px;">Name</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                    aria-controls="DataTables_Table_0"
                                                                                    rowspan="1" colspan="1"
                                                                                    aria-label="Section: activate to sort column ascending"
                                                                                    style="width: 148px;">Gender</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                    aria-controls="DataTables_Table_0"
                                                                                    rowspan="1" colspan="1"
                                                                                    aria-label="Class Type: activate to sort column ascending"
                                                                                    style="width: 198px;">Address</th>
                                                                                <th class="sorting" tabindex="0"
                                                                                    aria-controls="DataTables_Table_0"
                                                                                    rowspan="1" colspan="1"
                                                                                    aria-label="Created At: activate to sort column ascending"
                                                                                    style="width: 298px;">Date of birth
                                                                                </th>
                                                                                <th class="d-none sorting" tabindex="0"
                                                                                    aria-controls="DataTables_Table_0"
                                                                                    rowspan="1" colspan="1"
                                                                                    aria-label="Class: activate to sort column ascending"
                                                                                    style="width: 0px;">Date of birth
                                                                                </th>
                                                                                <th class="d-none sorting" tabindex="0"
                                                                                    aria-controls="DataTables_Table_0"
                                                                                    rowspan="1" colspan="1"
                                                                                    aria-label="Date: activate to sort column ascending"
                                                                                    style="width: 0px;">Email</th>
                                                                                <th class="d-none sorting" tabindex="0"
                                                                                    aria-controls="DataTables_Table_0"
                                                                                    rowspan="1" colspan="1"
                                                                                    aria-label="Time: activate to sort column ascending"
                                                                                    style="width: 0px;">Time</th>
                                                                                <th class="d-none sorting" tabindex="0"
                                                                                    aria-controls="DataTables_Table_0"
                                                                                    rowspan="1" colspan="1"
                                                                                    aria-label="Phone: activate to sort column ascending"
                                                                                    style="width: 0px;">Phone</th>
                                                                                <th class="d-none sorting" tabindex="0"
                                                                                    aria-controls="DataTables_Table_0"
                                                                                    rowspan="1" colspan="1"
                                                                                    aria-label="E-mail: activate to sort column ascending"
                                                                                    style="width: 0px;">E-mail</th>
                                                                                <th class="d-none sorting_disabled"
                                                                                    rowspan="1" colspan="1"
                                                                                    aria-label="" style="width: 0px;">
                                                                                </th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <% for (student of cls.students){ %>
                                                                                <tr role="row" class="odd">
                                                                                    <td class="sorting_1">
                                                                                        <a
                                                                                            href="<%= `/${domainName}/admin/student/${student._id}/view` %>">
                                                                                            <%= student._id %>
                                                                                        </a>
                                                                                    </td>
                                                                                    <td class="">
                                                                                        <%= student.userInfo.fullName %>
                                                                                    </td>
                                                                                    <td>
                                                                                        <%= student.gender.charAt(0).toUpperCase()+student.gender.slice(1)
                                                                                            %>
                                                                                    </td>
                                                                                    <td>
                                                                                        <%= student.contact.address.streetAddress
                                                                                            %>
                                                                                    </td>
                                                                                    <td>
                                                                                        <%= `${student.DOB[0]}/${student.DOB[1]}/${student.DOB[2]}`
                                                                                            %>
                                                                                    </td>
                                                                                    <td class="d-none">A</td>
                                                                                    <td class="d-none">02/05/2001</td>
                                                                                    <td class="d-none">10.00 am - 11.30
                                                                                        am
                                                                                    </td>
                                                                                    <td class="d-none">+ 123 9988568
                                                                                    </td>
                                                                                    <td class="d-none">
                                                                                        kazifahim93@gmail.com
                                                                                    </td>
                                                                                    <td class="d-none">
                                                                                        <div class="dropdown">
                                                                                            <a href="#"
                                                                                                class="dropdown-toggle"
                                                                                                data-toggle="dropdown"
                                                                                                aria-expanded="false">
                                                                                                <span
                                                                                                    class="flaticon-more-button-of-three-dots"></span>
                                                                                            </a>
                                                                                            <div
                                                                                                class="dropdown-menu dropdown-menu-right">
                                                                                                <a class="dropdown-item"
                                                                                                    href="#"><i
                                                                                                        class="fas fa-times text-orange-red"></i>Close</a>
                                                                                                <a class="dropdown-item"
                                                                                                    href="#"><i
                                                                                                        class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                                                                                <a class="dropdown-item"
                                                                                                    href="#"><i
                                                                                                        class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                                <% } %>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <% }else{ %>
                                                                <div class="d-flex">
                                                                    <h2 class="text-danger">No Students are enrolled in
                                                                        this
                                                                        course</h2>
                                                                </div>
                                                                <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="info-table table-responsive">


                            <tr>
                            </tr>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-box">
                <!-- Add Material Modal -->
                <div class="modal fade" id="add-material" tabindex="-1" role="dialog" style="display: none;"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div id="tooltip" class="row layout-spacing">
                                <div class="col-lg-12">
                                    <div class="statbox widget box box-shadow p-5">
                                        <div class="widget-header">
                                            <div class="row">
                                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                    <h4> Add Material </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <form id="materialForm" method="post" enctype="multipart/form-data"
                                            action="<%= `/${domainName}/teacher/subject/${cls.courses[0]._id}/material/add` %>"
                                            class="widget-content widget-content-area">
                                            <div id="content-container">
                                                <div id="toolbar-container">
                                                    <button class="ql-bold" data-toggle="tooltip"
                                                        data-placement="bottom" title="Bold"></button>
                                                    <button class="ql-underline" data-toggle="tooltip"
                                                        data-placement="bottom" title="Underline"></button>
                                                    <button class="ql-italic" data-toggle="tooltip"
                                                        data-placement="bottom"
                                                        title="Add italic text <cmd+i>"></button>
                                                    <button class="ql-image" data-toggle="tooltip"
                                                        data-placement="bottom" title="Upload image"></button>
                                                    <button class="ql-code-block" data-toggle="tooltip"
                                                        data-placement="bottom" title="Show code"></button>
                                                </div>
                                                <div id="quill-tooltip">
                                                </div>

                                                <textarea name="materialDetail" id="materialDetail" class="d-none"
                                                    cols="30" rows="10"></textarea>

                                                <div class="mt-4">
                                                    <label for="file-upload">Choose files to upload:</label>
                                                    <input name="files" id="file-upload" type="file" multiple>
                                                </div>
                                                <div id="preview"></div>
                                            </div>
                                            <hr>

                                            <div class="d-flex justify-content-end mt-5">
                                                <button type="submit"
                                                    class="btn-fill-lg font-normal text-light gradient-orange-peel">Add</button>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Assignment Modal -->
                <div class="modal fade" id="add-assignment" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Small Modal</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h3 class="font-semibold">This is Small Modal</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur,
                                    assumenda aut eaque eius error, veniam vitae!
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="footer-btn bg-dark-low" data-dismiss="modal">Close</button>
                                <button type="button" class="footer-btn bg-linkedin">Save
                                    Changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        setTimeout(() => {
            document.getElementById('addMaterialBtn').click();
            document.querySelector('.ql-image').remove()
        }, 100);


        document.getElementById('materialForm').addEventListener('submit', function (evt) {
            document.getElementById('materialDetail').value = quill.root.innerHTML;
        })
    </script>

    <script src="/plugins/editors/quill/quill.js"></script>
    <script src="/plugins/editors/quill/custom-quill.js"></script>